.logo{
  text-decoration: none!important;
  img{
    width: 20px;
  }
  span{
    vertical-align: middle;
    margin: 0 5px;
    text-decoration: none;
    color: #333;
  }
}
.header-movie{
  height: 54px;
}